/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* The '*' selector selects all elements in an HTML file. Declaring margin, padding and box-sizing to get rid of default values*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRE-SET SCSS VARIABLES */
/*HEADER SECTION*/
header {
  width: 100%;
  background-color: rgb(7, 14, 29);
  position: fixed;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.logo {
  text-decoration: none;
}
.logo__color {
  color: #1b41ff;
}
.logo__bold {
  font-weight: 600;
}
.logo__size {
  font-size: 30px;
}

.nav__lists {
  list-style: none;
  margin: 0px 10px;
}
.nav__link {
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px;
}
.nav__link--color {
  color: #ffffff;
}
.nav__link:hover {
  color: #1b41ff;
  background-color: rgb(5, 19, 50);
  transition: ease 0.3s;
  font-size: 1.2rem;
}
.nav__link:active {
  color: #1b41ff;
}

.navbar {
  display: flex;
  align-items: center;
}

/* HOME SECTION */
.home {
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home__bgcolor {
  background-color: rgb(5, 19, 50);
}
.home__content {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}
.home__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  transform: scale(0.7, 0.7);
}
.home__img--photo {
  object-position: center;
  object-fit: contain;
}
.home__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home__header {
  font-size: 60px;
  font-weight: 500;
}
.home__header--white {
  color: #ffffff;
}
.home__header--blue {
  color: #1b41ff;
}
.home__para {
  font-size: 20px;
  margin-top: 15px;
}
.home__para--white {
  color: #ffffff;
}
.home__para--blue {
  color: #1b41ff;
}
.home__para--bold {
  font-weight: 700;
}
.home__social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.home__social--links {
  font-size: 50px;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(23, 46, 96);
}
.home__social--links:hover {
  border-radius: 30%;
  background-color: #1b41ff;
  transition: 0.3s;
}

/* ABOUT SECTION */
.about {
  width: 100%;
}
.about__bgcolor {
  background-color: rgb(5, 19, 50);
}
.about__heading {
  color: #242442;
  font-size: 6rem;
  text-align: center;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 900px;
  margin: auto;
  column-gap: 100px;
}
.about__intro {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.about__intro--title {
  color: #ffffff;
  font-weight: 500;
  font-size: 2rem;
  margin: 2rem 0;
}
.about__intro--btn {
  display: flex;
  column-gap: 10px;
  color: #ffffff;
  border-radius: 5%;
  background-color: rgb(23, 46, 96);
  margin-top: 5px;
  padding: 20px;
  align-items: center;
  text-decoration: none;
  font-size: larger;
}
.about__intro--btn:hover {
  background-color: #1b41ff;
  transition: 0.3s;
}
.about__text {
  color: #ffffff;
}

/* SKILLS SECTION */
.skills {
  width: 100%;
  padding: 50px;
}
.skills__bgcolor {
  background-color: rgb(5, 19, 50);
}
.skills__heading {
  color: #242442;
  font-size: 6rem;
  text-align: center;
}
