/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* The '*' selector selects all elements in an HTML file. Declaring margin, padding and box-sizing to get rid of default values*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*For this scss file, I have decided to use the BEM notation to structure my properties. BEM stands for Block Element Modifier. It is an efficient way to change and edit CSS properties at a large scale. */
/* PRE-SET SCSS VARIABLES */
/*HEADER SECTION*/
header {
  width: 100%;
  background-color: rgb(7, 14, 29);
  position: fixed;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.logo {
  text-decoration: none;
}
.logo__color {
  color: #032dff;
}
.logo__bold {
  font-weight: 600;
}
.logo__size {
  font-size: 30px;
}

.nav__lists {
  list-style: none;
  margin: 0px 10px;
}
.nav__link {
  text-decoration: none;
  border-radius: 10px;
  padding: 4px 8px;
}
.nav__link--color {
  color: #ffffff;
}
.nav__link:hover {
  color: #032dff;
  background-color: rgb(5, 19, 50);
  font-size: 1.2em;
  transition: 0.3s;
}
.nav__link:active {
  color: #032dff;
}

.navbar {
  display: flex;
  align-items: center;
}

/* HOME SECTION */
.home {
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.home__bgcolor {
  background-color: rgb(5, 19, 50);
}
.home__content {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}
.home__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  transform: scale(0.7, 0.7);
}
.home__img--photo {
  object-position: center;
  object-fit: cover;
}
.home__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home__header {
  font-size: 60px;
  font-weight: 500;
}
.home__header--white {
  color: #ffffff;
}
.home__header--blue {
  color: #032dff;
}
.home__para {
  font-size: 20px;
  margin-top: 15px;
}
.home__para--white {
  color: #ffffff;
}
.home__para--blue {
  color: #032dff;
}
.home__social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.home__social--links {
  font-size: 50px;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(23, 46, 96);
}
.home__social--links:hover {
  background-color: #032dff;
  transition: 0.3s;
}
