/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* The '*' selector selects all elements in HTML file. Declaring margin, padding and box-sizing to get rid of default values*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* PRE-SET VARIABLES */
$primary-background-color: rgb(5, 19, 50);
$primary-text-color: #ffffff;
$section-header-color: #222321;
$secondary-text-color: #032dff;
$third-text-color: rgb(23, 46, 96);


header {
    width: 100%;
    background-color: $primary-background-color;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between; //seperating the logo from nav links
    align-items: center;
    padding: 20px 0; 
    max-width: 1200px; //hardcoding the width of nav
    width: 100%; //making sure it spreads to 100% of that explicit pixel width
    margin: auto; //This centres the nav element
}

.logo {
    text-decoration: none; //removes default underline

    &__color {
        color: $secondary-text-color;
    }

    &__bold {
        font-weight: 600;
    }

    &__size {
        font-size: 30px;
    }
}

.nav {

    &__lists {
    list-style: none; //removes default bullet points
    margin: 0px 10px;
    }

    &__link {
        text-decoration: none;
        border-radius: 10px;
        padding: 4px 8px; //padding between list items

        &--color {
            color: $primary-text-color;
        }

        &:hover {
            color: $secondary-text-color;
            font-size: 1.2em;
            transition: 0.3s;
        }

        &:active {
            color: $secondary-text-color;
        }
    }
}

.navbar {
    display: flex;
    align-items: center; 
}
