/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* The '*' selector selects all elements in an HTML file. Declaring margin, padding and box-sizing to get rid of default values*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*For this scss file, I have decided to use the BEM notation to structure my properties. BEM stands for Block Element Modifier. It is an efficient way to change and edit CSS properties at a large scale. */

/* PRE-SET SCSS VARIABLES */
$header-color: rgb(7, 14, 29);
$primary-background-color: rgb(5, 19, 50);
$primary-text-color: #ffffff;
$section-header-color: #222321;
$secondary-text-color: #032dff;
$third-text-color: rgb(23, 46, 96);


/*HEADER SECTION*/
header {
    width: 100%;
    background-color: $header-color;
    position: fixed;
    z-index: 10; //placing header on top, to avoid other elements overlapping it when scrolling.
}

.nav {
    display: flex;
    justify-content: space-between; //seperating the logo from nav links
    align-items: center;
    padding: 20px 0; 
    max-width: 1200px; //hardcoding the width of nav
    width: 100%; //making sure it spreads to 100% of that explicit pixel width
    margin: auto; //This centres the nav element
}

.logo {
    text-decoration: none; //removes default underline

    &__color {
        color: $secondary-text-color;
    }

    &__bold {
        font-weight: 600;
    }

    &__size {
        font-size: 30px;
    }
}

.nav {

    &__lists {
    list-style: none; //removes default bullet points
    margin: 0px 10px;
    }

    &__link {
        text-decoration: none;
        border-radius: 10px;
        padding: 4px 8px; //padding between list items

        &--color {
            color: $primary-text-color;
        }

        &:hover {
            color: $secondary-text-color;
            background-color: $primary-background-color;
            font-size: 1.2em;
            transition: 0.3s;
        }

        &:active {
            color: $secondary-text-color;
        }
    }
}

.navbar {
    display: flex;
    align-items: center; 
}

/* HOME SECTION */
.home {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center; //these last two properties center the entire home section on the middle of the page.
    padding-top: 20px;

    &__bgcolor {
        background-color: $primary-background-color;
    }

    &__content {
        max-width: 600px; //hard-coding the width.
        width: 100%;
        margin: auto; //centering
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 60px;
    }

    &__img {
        width: 350px;
        height: 350px;
        border-radius: 50%; //making the picture into a circle instead of a rectangle.
        overflow: hidden;
        margin: auto;
        transform: scale(0.7,0.7);

        &--photo {
            object-position: center;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__header {
        font-size: 60px;
        font-weight: 500;

        &--white {
            color: $primary-text-color;
        }
        &--blue {
            color: $secondary-text-color;
        }
    }

    &__para {
        font-size: 20px;
        margin-top: 15px;

        &--white {
            color: $primary-text-color;
        }
        &--blue {
            color: $secondary-text-color;
        }
    }

    &__social {
        margin-top: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        &--links {
            font-size: 50px;
            color: $primary-text-color;
            padding: 10px;
            border-radius: 50%;
            background-color: $third-text-color;

            &:hover {
                background-color: $secondary-text-color;
                transition: 0.3s;
            }
        }
    }
}
