/* PRE-SET SCSS VARIABLES */
$header-color: rgb(7, 14, 29);
$primary-background-color: rgb(5, 19, 50);
$primary-text-color: #ffffff;
$section-header-color: #242442;
$secondary-text-color: #1b41ff;
$third-text-color: rgb(23, 46, 96);